<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />
  </head>

  <body>
    <head>
      <meta charset="utf-8" />
      <title>LOL</title>
      <h1>snakes</h1>
      <canvas id="canvas"></canvas>
      <h1>snakes</h1>
    </head>
  </body>
</html>
