<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->

    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>

    <!-- <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" /> -->
  </head>

  <body>
    <style>
      .h1 {
        color: gray;
        text-align: center;
      }
    </style>

    <h1>snakes</h1>
    <div id="canvas2">
      <canvas style="" id="canvas"></canvas>
    </div>
    <h1>snakes</h1>
  </body>
</html>
